{% extends 'main_project/base.html'%}

{% load static %}
{% block content%}


{% include 'include/alerts.html' %}

		<!-- Main Section Start -->
		<div class="main-section">
			{% include 'app_customers/app-customer-cover.html'%}

	

			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <!-- load sidebar -->
              {% include 'include/sidebar_cust.html' %}
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">
									
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

										<div class="row">
											<!-- overview total orders-->
												<div class="mb-3 col-lg-4 col-md-4 col-sm-12 col-xs-12">
													<div class="card">
														<div class="card-header">
															total Orders
														</div>
														<div class="card-body text-center">
															<b style="color:blue">{{total_orders}}</b>
		
														</div>
													</div>
												</div>	
											<!-- overview REvenue -->
		
												<div class="mb-5 col-lg-8 col-md-8 col-sm-12 col-xs-12">
													<div class="card">
														<div class="card-header">
															Logged-in  as <b> {{user.email}} </b>
														</div>
														<div class="card-body text-center">
															<a href="{% url 'app_customers:cprofile' %}"> 
																<h5  class="card-title" ><i class="fa fa-edit" style="color :rgb(233, 24, 24);"></i> Edit Profile</h5>
															</a>
		
														</div>
													</div>
												</div>	
											<!-- overview month REvenue -->
										</div>															
									</div>
									<br>
									<div class="row">
										<div class="element-title has-border right-filters-row">
											<h5 class="text-uppercase">Overview </h5>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="user-orders-list">
												<div class="responsive-table">
													
													<div class = "orders-table">
														<table  id="myordersTable"  class="table table-striped">
															<thead>
																<tr>
																	<th scope="col">Order #</th>
																	<th scope="col">Date</th>

																	<th scope="col">Name</th>
																	
																	<th scope="col">Total Amout</th>
																	<th scope="col">Status</th>
																	<th scope="col">Action</th>
																</tr>
															</thead>
															<tbody>
																{% for item in recent_orders %}
																<tr>
																	<td>{{item.order_number}}</td>
																	<td>{{item.created_at}}</td>
																	<td>{{item.name}}</td>

																	<td>Php.{{item.total}}</td>
																	<td>{{item.is_ordered}}</td>
																	<td>
																		<a href="#" class="btn btn-success"
																		 >details ss</a>
																	</td>
																</tr>
																{% endfor %}
																
															</tbody>
														</table>
													</div>


												</div>												
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->
		<script src="{% static 'js/app_customer_dashboard.js' %}" ></script> 


{% endblock %}