<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 0px;margin-bottom: 0px;background: #ffffff;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="element-title align-left">
          <h2>Other Orm </h2>
          <p>Orm samples</p>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:0 !important; padding-left:0 !important;">
            <ul>

                <li class="has-border d-inline mr-5"> <a href="{% url 'orm_sample_1' %}">sample 1</a></li>
                <li class="has-border d-inline mr-5"> <a href="{% url 'orm_query_union' %}">Query Union 2</a></li>                
                <li class="has-border d-inline mr-5"> <a href="{% url 'orm_query_union_not' %}">Query Union (not)  and RAW Querries</a></li>
                <li class="has-border d-inline mr-5"> <a href="{% url 'orm_query_direct' %}">direct query</a></li>     
                <li class="has-border d-inline mr-5"> <a href="{% url 'orm_model_inheritance' %}">orm Model Inheritance</a></li>                                              
                <li class="has-border d-inline mr-5"> <a href="{% url 'product_all' %}">ORM PRODUCT ALL</a></li>                                              
                <li class="has-border d-inline mr-5"> <a href="{% url 'polymorphic' %}">Polymorphic</a></li>        
                <li class="has-border d-inline mr-5"> <a href="{% url 'test_main' %}">TEst</a></li>        

            </ul>
  
          </div>
  
        </div>

      </div>
    </div>
  </div>
</div>
