<div class="user-account-nav user-account-sidebar">
  <div class="user-nav-list">
    <h3>sidebar for customer</h3>
    <ul>

      <li  class="{% if '/app_customers/' == request.path or '/app_customers/' == request.path %}
      active {% endif %}"><a href="{% url 'app_customers:customer' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>

  
      <li class="{%  if 'cprofile' in request.path %} active {%endif%}"><a class="logout-btn" href="{% url 'app_customers:cprofile' %}"><i class="icon-log-out"></i>Profile</a></li>
    </ul>
  </div>
</div>