{% extends 'main_project/base.html'%}

{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="justify-content-center row">
    <div class="dol-md-8">
      <div class="bg-white p-3 d-flex">
        <img src="{% static 'logo/logo_red.png' %}" alt="my logo" width="75" >
        <h4 class="mt-4 mb-3">Thank you for your order</h4>
      </div>
      <div class="order-table">
        <div class="menu-itam-holder">
          <p>Hello <span><b>{{order.name}}</b>,</span></p>
          <p>Kindly review your order</p>
          <br>
          <div class="order-info d-flex ">
            <div class="order-info-item pr-5">
              <p>Order Number : <span> <b>{{order_number}}</b></span></p>
              <p>Transaction ID : <span><b>{{transaction_id}}</b></span></p>
            </div>
            <div class="order-info-item">
              <p>Order Date :  <span><b>{{order.created_at}}</b></span></p>
            </div>

          </div>


          <div class="table-div justify-content-center d-flex">
            <div class="table-design">
              <table class="table table-md" >
                <thead>
                  <tr style="color:rgb(25, 25, 155);">
                    <th scope="col">Payment</th>
                    <th scope="col">Image</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Product Title</th>

                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for item in ordered_food %}
                  
                  <tr style="color:rgb(216, 130, 16);">
                    <th style="color:rgb(10, 61, 10);">{{item.payment.transaction_id}}</th>
                    <th><img src="{{item.product_item.image.url}}" alt="pic" width="80"></th>                                

                    <th><a href="{% url 'marketplace:vendor_detail' item.product_item.vendor.vendor_slug %}">{{item.product_item.vendor.vendor_name}} </a></th>
                    <th>{{item.product_item.product_title}}</th>                                

                    <th>{{item.quantity}}</th>                                
                    <th>{{item.price}}</th>
                    <th style="color:rgb(232, 61, 61);">{{item.amount}}</th>
                    

                  </tr>
                  {% endfor %}

                  
                </tbody>
      
              </table>

              <div class="row ">
                <div class="d-flex justify-content-center col-md-6">
                  <img src="{% static 'images/paid.png'%}" alt="paid" width="200">
                </div>
                <div class="summary-div  col-md-6">
                  <div class="menu-item-holder-div">
                    <ul>
                      <!-- subtotal -->
                      <li style="list-style-type: None;">
                        Subtotal
                        <span class="price float-right" >
                          <span class="currency" >$</span>
                          <span id="subtotal" >{{subtotal}}</span>
                        </span>
                      </li>

                      <!-- tax -->
                      {% for key, value in tax_dict.items %}
                        {% for  percentage,  tax_amount in value.items%}
                          <li class="tax-line" style="list-style-type: None; " >
                            {{key}} <small>({{percentage}}%)</small>
                            <span class="price float-right">
                            <span class="currency" >$</span>
                            <span id="tax-{{key}}">{{tax_amount}}</span>
                            </span>
                          </li>
                        {% endfor %}
                      {% endfor %}

                      <!-- grand total -->
                      <li style="list-style-type: None;">
                        TOTAL
                        <span class="price float-right">
                          <span class="currency" >$</span>
                          <span id="total">{{order.total}}</span>
                        </span>
                      </li>
                      <!-- <a href="{% url 'checkout' %}" class="btn btn-danger w-100 p-2 mt-3" >PROCEED TO CHECKOUT</a> -->


                    </ul>
                  </div>
                </div>

              </div>
              
              <hr>
              <div class="d-flex justify-content-around">
                
                <div class="footer-item d-flex justify-content-end align-items-end">
                  <span><b>Thank you for ordering with us </b></span>
                  
                </div>        
                  <div class="footer-item d-flex justify-content-end align-items-end">
                    <span>Need Help</span>
                    <span>call xxx-xxx-xxx</span>
                  </div>
                </div>
              
            </div>
    
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}