{% extends 'main_project/base.html'%}

{% load static %}
{% block content%}


{% include 'include/alerts.html' %}


		<!-- Main Section Start -->
		<div class="main-section">
			{% include 'app_customers/app-customer-cover.html'%}

	

			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <!-- load sidebar -->
              {% include 'include/sidebar_cust.html' %}
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">
									
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														
									</div>
									<br>
									<div class="row">
										<div class="element-title has-border right-filters-row">
											<h5 class="text-uppercase">My Orders </h5>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="user-orders-list">
												<div class="responsive-table">
													
													<div class = "orders-table">
														<table class="table table-striped">
															<thead>
																<tr>
																	<th scope="col">Order #</th>
																	<th scope="col">Date</th>

																	<th scope="col">Name</th>
																	
																	<th scope="col">Total Amout</th>
																	<th scope="col">Status</th>
																	<th scope="col">Action</th>
																</tr>
															</thead>
															<tbody>
																{% for item in orders %}
																<tr>
																	<td><b><a class = "text-dark" href="{% url 'app_customers:order-details' item.order_number %} ">{{item.order_number}}</a></b></td>
																	<td>{{item.created_at}}</td>
																	<td>{{item.name}}</td>

																	<td>Php.{{item.total}}</td>
																	<td>{{item.is_ordered}}</td>
																	<td><a href="{% url 'app_customers:order-details' item.order_number %} " class="btn btn-success" >View Order</a></td>
																</tr>
																{% endfor %}
																
															</tbody>
														</table>
													</div>


												</div>												
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->


{% endblock %}