:root {
--color1 : #43766C;
--color2 : #F8FAE5;
--color3 : #B19470;
--color4 : #76453B;
--linked-in-blue: #0a66c2;

--color-white :#FBF9F1;

--text-color-sub-title    : #F8FAE5;
--text-color-underline    : #B19470;
--text-color-background   : #43766C;
--text-color-paragraph    : #76453B;
}