:root{
--color1 : #43766C;
--color2 : #F8FAE5;
--color3 : #B19470;
--color4 : #76453B;
--linked-in-blue: #0a66c2;
--button-hover:#A94438;

--color-white :#FBF9F1;

}

@keyframes show-toast{
  0%{bottom: -100%}
  20% {bottom: 100px}
  80% {bottom: 100px}
  100% {bottom: -100px}

}
.custom-show-notification{
  position : fixed;
  bottom: 100%;
  right: 20px;
  animation-name: show-toast;
  animation-duration : 8s;
  z-index : 2000;
}

.btn {
  padding: 5px 10px;
  margin : 5px;
  font-size: 12px;
  cursor :pointer;
  }

.text-capitalize{
  text-transform: uppercase ;
}  

/* hide radio button */
.payment-method [type=radio]{
  position : absolute;
  opacity: 0;
  width:0;
  height : 0;
  
}
/* payment selection pointer */
.payment-method [type=radio]+img{
  cursor : pointer;

}
.payment-method [type=radio]:checked+img{
  outline: 2px solid #A94438;

}
.payment-method label{
  margin :.4em;
}



 select, 
 .main-search.fancy .field-holder input[type="text"] {
  color: blue !important; 
  font-weight: 
  500;
  }

table > tbody > tr > td{
  border :none !important;
}

#opening_hours_form  select{
 padding : 0 5px !important;


}

.btn-success.add-hour{
  color:red;
  width:120px;
  padding :  5px 17px;
}
input.submit-button{
  background-color: var(--linked-in-blue);
  color : var(--color-white);
  font-size: 16x;
  border-radius :25px;
  width : 120px;
}
input.submit-button:hover{
  background-color: var(--button-hover);
  color : yellow;
  border-width: 1px;
  border-color : yellow; 
 
}

