@keyframes show-toast{
  0%{bottom: -100%}
  20% {bottom: 100px}
  80% {bottom: 100px}
  100% {bottom: -100px}

}
.custom-show-notification{
  position : fixed;
  bottom: 100%;
  right: 20px;
  animation-name: show-toast;
  animation-duration : 8s;
  z-index : 2000;
}

.btn.btn-info{
  padding: 3px 1.75em;
    /* width: 240px; */
    font-size: 12px;
    cursor :pointer;
}